<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="#">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <% include header/header.ejs %>
  <div class="container">
    <section class="content-body">
      <section class="feature-list">
        <article class="feature-list_item">
          <p><span class="big-word">Search</span> for local volunteer opportunities. See all your local volunteer organizations in one place and find new events to participate in.</p>
        </article>
        <article class="feature-list_item">
          <p><span class="big-word">Connect</span> with your favorite volunteer organizations and get notified when new volunteer events become available that you may be interested in.</p>
        </article>
        <article class="feature-list_item">
          <p>We make it that much easier to be an active member of your <span class="big-word">Community</span> and find new ways to volunteer.</p>
        </article>
      </section>
    </section>
  </div>
</body>
