<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Volunteer App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="#">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <script src="/javascripts/facebook.js"></script>
  <% include header/header.ejs %>
  <div class="container">
    <section class="organization-list">
      <fb:login-button
        scope="email, user_events"
        onlogin="checkLoginState();">
      </fb:login-button>
      <div class="organization-list_item">
        <a href="#">
          <img src="#" alt="">
          <p>Organization name</p>
        </a>
      </div>
      <div class="organization-list_item">
        <a href="#">
          <img src="#" alt="">
          <p>Organization name</p>
        </a>
      </div>
      <div class="organization-list_item">
        <a href="#">
          <img src="#" alt="">
          <p>Organization name</p>
        </a>
      </div>
      <div class="organization-list_item">
        <a href="#">
          <img src="#" alt="">
          <p>Organization name</p>
        </a>
      </div>
    </section>
    <div><a  class="floating-action-button" href="#">+</a></div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
