<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Volunteer App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="#">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="volunteerApp" ng-controller="OrganizationController">
  <% include header/header.ejs %>
  <div id="loggedOut" ng-style="loggedOut">
    <br><br>
    <section class="organization-list">
      <h2>Please login to view volunteering organiztions</h2>
    </section>
  </div>
  <div id="loggedIn" class="container" ng-style="loggedIn">
    <div class="categories">
      <div class="categories-button">Categories</div>
      <ul class="categories-list">
        <li class="categories-list_item"><a ng-click="search = ''">All</a></li>
        <li class="categories-list_item"><a ng-click="search = 'Community'">Community</a></li>
        <li class="categories-list_item"><a ng-click="search = 'Children'">Children</a></li>
        <li class="categories-list_item"><a ng-click="search = 'Medical'">Medical</a></li>
        <li class="categories-list_item"><a ng-click="search = 'Food'">Food</a></li>
        <li class="categories-list_item"><a ng-click="search = 'College Students'">College Students</a></li>
      </ul>
    </div>
    <section class="organization-list">
      <div ng-repeat="organization in organizations | filter:search" class="organization-list_item">
        <a href="/profile/{{ organization._id }}">
          <img src="{{ organization.headerImg }}" alt="" style="width: 400px; height: 150px; object-fit: cover;">
          <p>{{ organization.name }}</p>
        </a>
      </div>
    </section>
    <div><a  class="floating-action-button" href="/orgs">+</a></div>
  </div>
  <script src="/javascripts/app.js"></script>
  <script src='/javascripts/controllers/organization.controller.js'></script>
  <script src='/javascripts/services/organization.service.js'></script>
</body>
