<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Volunteer App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="#">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="volunteerApp" ng-controller="OrganizationController">
  <% include header/header.ejs %>
  <div id="loggedOut" ng-style="loggedOut">
    <section class="organization-list">
      <h2>Please login to view volunteering organiztions</h2>
    </section>
  </div>
  <div id="loggedIn" class="container" ng-style="loggedIn">
    <div class="categories">
      <div class="categories-button">Categories</div>
      <ul class="categories-list">
        <li class="categories-list_item"><a ng-click="search = ''">All</a></li>
        <li class="categories-list_item"><a ng-click="search = 'Community'">Community</a></li>
        <li class="categories-list_item"><a ng-click="search = 'Children'">Children</a></li>
        <li class="categories-list_item"><a ng-click="search = 'Medical'">Medical</a></li>
        <li class="categories-list_item"><a ng-click="search = 'Food'">Food</a></li>
        <li class="categories-list_item"><a ng-click="search = 'College Students'">College Students</a></li>
      </ul>
    </div>
    <section class="organization-list">
      <div ng-repeat="organization in organizations | filter:search" class="organization-list_item">
        <a href="/profile/{{ organization._id }}">
          <img src="#" alt="">
          <p>{{ organization.name }}</p>
        </a>
      </div>
    </section>
    <div><a  class="floating-action-button" href="/orgs">+</a></div>
  </div>
  <script src="/javascripts/app.js"></script>
  <script src='/javascripts/controllers/organization.controller.js'></script>
  <script src='/javascripts/services/organization.service.js'></script>

<script>
let at = 'EAACEdEose0cBALWMPEbugfmfdTd3Jn1sZCZCvOLNkxFG6EU0pvjCjiuHlaMumSOIFh9QTRFzEcXFSo5LMd7vZC5Q8yhxyw5YApPQrYeZCwk49NMSqC07ZCn7c8bKTqKJNibbCRbHkFLhZCFayGciGHC2NzrTmJZCMf73GZBprP0rBe1ZBwpYwaLsiq3LLlLqATkJmsL7I5XqBreVep1mCraHM';

let orgs = ['alachuahumane.org', 'AARP', 'sustainableuf', 'ShandsArtsinMedicine', 'HarnMuseumofArt', 'gatorsmiles', 'gatorpalsapp2017'];

window.fbAsyncInit = function() {
FB.init({
  appId      : '291380158062880',
  cookie     : true,
  xfbml      : true,
  version    : 'v2.12'
});

// FB.AppEvents.logPageView();

FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});

};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "https://connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

function statusChangeCallback(response) {
 if(response.status === 'connected') {
   console.log('Logged in and authenticated');
   console.log(response);
   // at = response.authResponse.accessToken;

   console.log(vm);

   for(var org in orgs) {
     populateDB($scope, orgs[org], at, vm);
   }

 }
 else {
   console.log('Not authenticated');
 }
}

function populateDB(org, at) {
FB.api('/' + org + '?fields=name,events' + '&access_token=' + at, function(response) {
  if(response && !response.error) {
    console.log(response);
  }
  else {
    console.log(response.error);
  }
})
}
</script>

</body>
