<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Add Organization</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="#">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<% include header/header.ejs %>
<body>
  <div class="col-md-12">
    <section class="organization-list">
      <form name="newOrg" class="form-horizontal">
      <fieldset>
        <div class="form-group" show-errors>
          <label>Name</label>
          <input name="name" type="text" id="name" class="form-control" placeholder="enter organization name" required>
          <div ng-messages="Must include name" role="alert">
            <p class="help-block error-text" message="required"></p>
          </div>
          <label>Username</label>
          <input name="username" type="text" id="username" class="form-control" placeholder="enter username">
          <label>Website</label>
          <input name="website" type="text" id="website" class="form-control" placeholder="enter website">
          <label>Facebook Url</label>
          <input name="facebookURL" type="text" id="facebookURL" class="form-control" placeholder="enter Facebook url">

          <label>Description</label>
          <input name="description" type="text" id="description" class="form-control" placeholder="enter orgaization description">


        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">submit</button>
        </div>
      </fieldset>
    </form>
    </section>
  </div>

</body>
