<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Add Organization</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="#">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<% include header/header.ejs %>
<body ng-app="volunteerApp">

  <div ng-controller="OrganizationController" class="col-md-12">
    <section class="content-body">
      <img src="/images/community.jpg" alt="" class="signup-picture">
      <form name="newOrg" class="form-horizontal">
        <fieldset>
          <div class="form-group" show-errors>
            <div class="form-group_item">
              <label>Name</label>
              <input name="name" ng-model="newOrganization.name" type="text" id="name" class="form-control" placeholder="enter organization name" required>
              <div ng-messages="Must include name" role="alert">
                <p class="help-block error-text" message="required"></p>
              </div>
            </div>
            <div class="form-group_item">
              <label>Username</label>
              <input name="username" ng-model="newOrganization.username" type="text" id="username" class="form-control" placeholder="enter username">
            </div>
            <div class="form-group_item">
            <label>Category</label>
              <select class="selectpicker form-control" data-style="btn-info" name="selectpicker">
                <optgroup label="Select Category ">
                  <option name="Community" value="Community">Community</option>
                  <option name="Children" value="Children">Children</option>
                  <option name="Medical" value="Medical">Medical</option>
                  <option name="Food" value="Food">Food</option>
                  <option name="College Students" value="College Students">College Students</option>
                </optgroup>
              </select>
            </div>
            <div class="form-group_item">
              <label>Website</label>
              <input name="website" ng-model="newOrganization.website" type="text" id="website" class="form-control" placeholder="enter website">
            </div>
            <div class="form-group_item">
              <label>Facebook Url</label>
              <input name="facebookURL" ng-model="newOrganization.facebookURL" type="text" id="facebookURL" class="form-control" placeholder="enter Facebook url">
            </div>
            <div class="form-group_item">
              <label>Header Picture Url</label>
              <input name="headerPictureURL" ng-model="newOrganization.headerPictureURL" type="text" id="headerPictureURL" class="form-control" placeholder="enter url for header picture">
            </div>
            <div class="form-group_item">
              <label>Profile Picture Url</label>
              <input name="profilePictureURL" ng-model="newOrganization.profilePictureURL" type="text" id="profilePicutreURL" class="form-control" placeholder="enter url for profile picture">
            </div>
            <div class="form-group_item full-width">
              <label>Description</label>
              <textarea name="description" ng-model="newOrganization.description" type="text" id="description" class="form-control" placeholder="enter organization description" cols="60" rows="3"></textarea>
            </div>

          </div>
          <div class="form-group">
            <button ng-click="getFBData(newOrganization)" class="btn btn-default">Submit</button>
          </div>
        </fieldset>
      </form>

    </section>
  </div>
  <script src="javascripts/app.js"></script>
  <script src='/javascripts/controllers/organization.controller.js'></script>
  <script src='/javascripts/services/organization.service.js'></script>
</body>
