<header class="header">
  <div class="title">
    <a href="#"><h1>Title</h1></a>
  </div>
  <nav class="navbar">
    <ul>
      <li class="navbar_item"><a href="/">Home</a></li>
      <li class="navbar_item"><a href="/about">About</a></li>
      <div class="search-bar">
          <input class="search-bar_text" ng-model = "searchBar" type="text" placeholder="Search all organizations..">
          <button class="search-bar_button" ng-click ="Click()"><strong>GO</strong></button>
      </div>
    </ul>
  </nav>
</header>
